{% extends "base.html.twig" %}

{% block title %}Fortunes{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
{% endblock %}

{% block body %}
<div class="container">
	<div class="row">

	    <div class="container-cards col-md-3"></div>

	    <div class="container-cards col-md-6">
	    	<h2>Create a new Fortune</h2>
	        <form action="{{ path('createFortune') }}" method="POST" novalidate class="form">
				{# {{ form_widget(form) }} #} {# This line renders the complete form with the default CSS, for an easier use #}
				{{ form_row(form.title, {'attr': {class:"form-control formItem"}}) }}
				{{ form_row(form.author, {'attr': {class:"form-control formItem"}}) }}
				{{ form_row(form.content, {'attr': {class:"form-control formItem"}}) }}
				{{ form_row(form.submit, {'attr': {class:"btn btn-default formItem"}}) }}
				{{ form_rest(form) }}
	        </form>
	    </div>

	    <div class="container-cards col-md-3"></div>

	</div>
</div>
{% endblock %}