<div class="card">

    <div class="vote">
		<div class="upvoteContainer">
			{% if app.session.get("upvotedId_#{item.id}") == 'value' %}
            <a href="{{ path('upvote', {id: item.id}) }}" class="upvoted">
            {% else %}
            <a href="{{ path('upvote', {id: item.id}) }}" class="upvote">
            {% endif %}
            	<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            	<span class="num">{{ item.upVote }}</span>
            </a>
        </div>
		<div class="downvoteContainer">
			{% if app.session.get("downvotedId_#{item.id}") == 'value' %}
            <a href="{{ path('downvote', {id: item.id}) }}" class="downvoted">
            {% else %}
            <a href="{{ path('downvote', {id: item.id}) }}" class="downvote">
            {% endif %}
            	<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            	<span class="num">{{ item.downVote }}</span>
            </a>
        </div>
    </div>

    <div class="content">
        <p class="quote">{{ item.content }}</p>
        <p class="author">
        	—
        	<a href="{{ path('byAuthor', {author: item.author}) }}">{{ item.author }}</a>
        	<a href="{{ path('editFortune', {id: item.id}) }}" class="more"> Edit</a>
        	<span class="more">|</span>
        	<a href="{{ path('uniqueFortune', {id: item.id}) }}" class="more">Comments </a>
        </p>
    </div>

</div>
